.dart_tool/package_config.json
.dart_tool/package_graph.json
.dart_tool/version
.idea/betterplayer-zome.iml
.idea/libraries/Dart_SDK.xml
.idea/libraries/Flutter_Plugins.xml
.idea/modules.xml
.idea/vcs.xml
